<form (ngSubmit)="formSubmit.emit({ email, password, name })" #f="ngForm">
  <fieldset>
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      autocomplete="email"
      [(ngModel)]="email"
      required />
  </fieldset>
  <fieldset>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      [autocomplete]="
        mode === 'registration' ? 'new-password' : 'current-password'
      "
      [(ngModel)]="password"
      required />
  </fieldset>
  @if (mode === 'registration') {
    <fieldset>
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Name"
        autocomplete="cc-name"
        [(ngModel)]="name" />
    </fieldset>
  }
  @if (mode === 'registration') {
    <button [disabled]="!f.valid">Register</button>
  } @else {
    <button [disabled]="!f.valid">Login</button>
  }
</form>
